{{ define "main" }}

<div class="bg-banner h-96 grid place-items-center">
    <div class="flex md:flex-row flex-col items-center">
        <img class="effect-shadow" src="/img/Cubes.svg">

        <div class="flex flex-col pt-4 md:pt-0 md:pl-8 text-center md:text-left items-center md:items-start text-white text-4xl font-extrabold">
            <h2>Build Simply. Build Quickly.</h2>

            <a href="" class="pt-2 font-medium text-3xl">Get Started</a>
        </div>
    </div>
</div>

<div class="flex md:flex-col items-center content mt-4">
    <div class="max-w-screen-md w-full ml-4 mr-4">
        <h2>Overview</h2>
        Qbs is an open source build system.
    </div>
</div>

{{ end }}
