<header class="sticky flex flex-col md:flex-row items-center justify-between top-0 left-0 right-0 bg-white dark:bg-gray-700 dark:border-gray-800 p-4 border-b">
    <a class="flex items-center" href="/">
        <img src="/img/Cubes.svg" class="h-10 effect-shadow-small">
        <h1 class="font-medium pl-2 text-2xl">Qbs</h1>
    </a>

    <div>
        {{ range .Site.Menus.main }}
        <a href="{{ .URL }}" class="ml-2">
            <span>{{ .Name }}</span>
        </a>
        {{ end }}
    </div>
</header>