{{ define "main" }}

<div class="centre-outer content mt-8">
    <div class="centre-inner">
        {{ range .Pages }}
        <div class="w-full border border-gray-50 dark:border-gray-600 mb-8 p-4 rounded prose dark:prose-invert">
            <h2><a href="{{ .Permalink }}" class="">{{ .Title }}</a></h2>
            <time>{{ .Date.Format "Jan 2, 2006" }} by {{ .Param "author" }}</time>

            {{ .Summary | markdownify }}

            {{ if .Truncated }}
            <a href="{{ .Permalink }}">Read More</a>
            {{ end }}
        </div>
        {{ end }}
    </div>
</div>

{{ end }}