@tailwind base;
@tailwind utilities;
@tailwind components;

.bg-banner {
    background: linear-gradient(96.34deg, #1FF1A0 0%, #00D485 100%);
}

@media (prefers-color-scheme: dark) {
    .bg-banner {
        background: linear-gradient(96.34deg, rgba(31, 241, 160, 0.5) 0%, rgba(0, 212, 133, 0.5) 100%);
    }
}

.effect-shadow-small {
    filter: drop-shadow(0px 0px 16px rgba(0, 0, 0, 0.35));
}

.effect-shadow {
    filter: drop-shadow(0px 0px 24px rgba(0, 0, 0, 0.25));
}

main article {
    @apply prose prose-zinc dark:prose-invert max-w-none;
}

main article code::before, main article code::after {
    content: "";
}

main article a[href] {
    color: #009356;
    text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
    main article a[href] {
        color: #00D485;
        text-decoration: underline;
    }
}

.toc h3 {
    @apply mt-0 text-xl;

    @apply border-b;
    @apply pb-1;
    @apply border-gray-50;
    @apply dark:border-gray-600;
}
.toc ul, .toc li {
    @apply pl-0;
}

.naviNextPrevious, .headerNavi, .footerNavi, main article > li {
    display: none;
}

main article {
    @apply mt-8;
    @apply mb-8;
}

.centre-outer {
    @apply flex;
    @apply md:flex-col;
    @apply items-center;
    @apply md:mt-8;
}

.centre-inner {
    @apply max-w-screen-md;
    @apply w-full;
    @apply pl-4;
    @apply pr-4;
}

.centre-inner.docs {
    @apply w-full;
    max-width: unset;

    display: flex;
    justify-content: center;

    @apply flex-col md:flex-row;
}

.centre-inner.docs .content {
    @apply max-w-screen-lg;
}

.centre-inner.docs .sidebar {
    display: sticky;
    top: 0;

    @apply md:w-80 md:max-w-xs;
    @apply mr-4 p-4 pt-1;
}

.docs > p {
    display: none;
}

.centre-inner.docs .sidebar a {
    text-decoration: none;
}
.centre-inner.docs .sidebar li {
    list-style: none;
    margin-left: 0;
}
.centre-inner.docs .sidebar li.level2 {
    margin-left: 1rem;
}
.centre-inner.docs .sidebar li.level3 {
    margin-left: 2rem;
}
