@tailwind base;
@tailwind utilities;
@tailwind components;

.bg-banner {
    background: linear-gradient(96.34deg, #1FF1A0 0%, #00D485 100%);
}

@media (prefers-color-scheme: dark) {
    .bg-banner {
        background: linear-gradient(96.34deg, rgba(31, 241, 160, 0.5) 0%, rgba(0, 212, 133, 0.5) 100%);
    }
}

.effect-shadow-small {
    filter: drop-shadow(0px 0px 16px rgba(0, 0, 0, 0.35));
}

.effect-shadow {
    filter: drop-shadow(0px 0px 24px rgba(0, 0, 0, 0.25));
}

body {
    font-size: 1.25rem;
}

main article a[href] {
    color: #009356;
    text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
    main article a[href] {
        color: #00D485;
        text-decoration: underline;
    }
}

main article h1, main article .title {
    @apply text-3xl;
    @apply font-bold;
    @apply mt-4;
    @apply mb-8;
}

main article h2, main article .subtitle {
    @apply text-2xl;
    @apply font-medium;
    @apply mt-4;
    @apply mb-8;
}

main article h3 {
    @apply text-xl;
    @apply font-medium;
    @apply mt-2;
    @apply mb-4;
    @apply border-b;
    @apply pb-1;
    @apply border-gray-50;
    @apply dark:border-gray-600;
}

main article h4 {
    @apply text-lg;
    @apply font-medium;
    @apply mt-2;
    @apply mb-4;
    @apply border-b;
    @apply pb-1;
    @apply border-gray-50;
    @apply dark:border-gray-600;
}

.content h2 {
    @apply text-2xl;
}

.content h3 {
    @apply text-xl;
}

main article ul {
    @apply mt-3;
    @apply mb-3;
}

main article li {
    @apply ml-4;
    list-style: disc;
}

main article p + p {
    @apply mt-3;
}

main article table.alignedsummary {
    @apply mt-2;
    @apply mb-2;
    @apply border;
}

main article table td, main article table th {
    @apply border;
    @apply p-3;
}

.naviNextPrevious, .headerNavi, .footerNavi, main article > li {
    display: none;
}

main article {
    @apply mt-8;
    @apply mb-8;
}

.blog h2, .blog h3 {
    @apply font-medium;
}

.blog h2 {
    @apply mt-8;
}

.blog h3 {
    @apply mt-3;
}

.blog ul {
    @apply list-disc;
}

.blog ol {
    @apply list-decimal;
}

.blog p, .blog ul, .blog ol {
    @apply max-w-full;
}

.centre-outer {
    @apply flex;
    @apply md:flex-col;
    @apply items-center;
    @apply mt-8;
}

.centre-inner {
    @apply max-w-screen-md;
    @apply w-full;
    @apply pl-4;
    @apply pr-4;
}

.centre-inner.docs {
    @apply w-full;
    max-width: unset;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.centre-inner.docs .content {
    max-width: 820px;
}

.centre-inner.docs .sidebar {
    display: sticky;
    top: 0;
    width: 20ch;
    max-width: 20ch;

    @apply mr-4;
    @apply p-4;
}

.centre-inner.docs .sidebar a {
    text-decoration: none;
}
.centre-inner.docs .sidebar li {
    list-style: none;
    margin-left: 0;
}
.centre-inner.docs .sidebar li.level2 {
    margin-left: 1rem;
}
.centre-inner.docs .sidebar li.level3 {
    margin-left: 2rem;
}

.blog pre, main article pre {
    @apply px-8;
    @apply py-4;
    @apply my-4;
    @apply border;
    @apply border-gray-50;
    @apply dark:border-gray-600;
    @apply p-4;
    @apply rounded;
    @apply overflow-x-auto;
}

.fn b {
    font-weight: normal;
}
